<div class="row">
	<ngx-planning-config (view)="onChange($event)">
	</ngx-planning-config>
	<div class="col-md-10 col-sm-12">
		<nb-card class="small">
			<nb-card-header>
				Planning
			</nb-card-header>
			<nb-card-body>
				<div id="calendar" [ngSwitch]="view">
					<mwl-calendar-week-view
						*ngSwitchCase="'week'"
				    [viewDate]="viewDate"
				    [events]="events"
				    [refresh]="refresh"
				    [locale]="locale"
				    [weekStartsOn]="weekStartsOn"
				    [weekendDays]="weekendDays">
				  </mwl-calendar-week-view>
				  <mwl-calendar-month-view
				      *ngSwitchCase="'month'"
				      [viewDate]="viewDate"
				      [events]="events"
				      [refresh]="refresh"
				      [activeDayIsOpen]="activeDayIsOpen"
				      >
				    </mwl-calendar-month-view>
				    <mwl-calendar-day-view
				        *ngSwitchCase="'day'"
				        [viewDate]="viewDate"
				        [events]="events"
				        [refresh]="refresh">
				      </mwl-calendar-day-view>
				      <google-chart 
				      	*ngSwitchCase="'year'"
				      	[data]="timelineChartData">
				      </google-chart>
				</div>
			</nb-card-body>
		</nb-card>
	</div>
</div>